body {
  margin: 0;
  margin-bottom: 150px;
  font-family: 'Lato', sans-serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.flex-question > legend {
  width: 70vw;
  min-width: 67rem;
  height: max-content;
  font-size: 2em;
  font-weight: 800;
  background-color: #208AAE;
  text-align: center;
  padding: 1rem;
  color: white;
}

.pattern {
  width: 25rem;
  height: 35rem;
  border-radius: 0.375rem;
  font-weight:400;
  --tw-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #B8F2E6;
  padding-bottom: 1em;
}

.pattern > img {
  object-fit: cover;
  height: 70%;
  max-width: 100%;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.pattern > button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  border-color: white;
  text-decoration:none;
  font-weight:400;
  color: white;
  background-color:#208AAE;
  text-align:center;
}

.title {
  font-weight: 800
}

.question {
  width: 70vw;
  min-width: 67rem;
  height: 45rem;
  border-radius: 1rem;
  font-weight:300;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #FFA69E;
  overflow: hidden;
  margin-bottom: 3em;
}

.flex-question {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

.answer-tile {
  align-self: center;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 30px;
  grid-template-areas:
    ". ."
    ". .";
}

.answer-clickable {
  border-radius: 0.375rem;
  width: 23rem;
  height: 18rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  color: white;
}

.image-text {
  background-color: #208AAE;
  height: 20%;
}

.answer-image {
  min-width: inherit;
  height: 80%;
  overflow: hidden;
}

.answer-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-credit {
  font-size: 0.8em;
  font-weight: 400;
}

.image-caption {
  font-size: 1.5em;
  font-weight: 400;
}

.display-patterns {
  margin: auto;
  margin-top: 20px;
  width: 70vw;
}

.display-grid {
  max-width: inherit;
  min-width: inherit;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas:
    ". ."
    ". .";
  margin-bottom: 40px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

.results > button {
  max-width: 50%;
  max-height: 50%;
  align-self: center;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  margin-top: 0.5em;
  border-radius:2em;
  border-color: white;
  text-decoration:none;
  font-weight:600;
  color: white;
  background-color:#FFA69E;
  text-align:center;
}

@media only screen and (max-width: 800px) {
  .display-grid {
    align-self: center;
    max-width: inherit;
    min-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .question {
    width: 90vw;
    min-width: 25rem;
    height: max-content;
    border-radius: 1rem;
    font-weight:300;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-color: #FFA69E;
    overflow: hidden;
    margin-bottom: 3em;
  }
}

@media only screen and (max-width: 800px) {
  .answer-tile {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .flex-question > legend {
    width: 90vw;
    min-width: 25rem;
    height: max-content;
    font-size: 2em;
    font-weight: 800;
    background-color: #208AAE;
    padding: 1rem;
    color: white;
  }
}